<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>content title</title>
	</head>
	<body>
		<h1>board/content.html</h1>
		번호 : <span th:text="${board.num}"></span><br>
		글쓴이 : <span th:text="${board.name}"></span><br>
		제목 : <span th:text="${board.subject}"></span><br>
		조회수 : <span th:text="${board.readcount}"></span><br>
		가입날짜 : <span th:text="${board.date}"></span><br>
		파일 : <span><a th:href="@{/upload/{board.file}}" th:text="${board.file}"></a></span>
		<span th:if="${session.id == board.name}">
		         <a th:href="@{/boardupdate(num=${board.num})}" th:text="수정하기"></a>
		         <a th:href="@{/boarddelete(num=${board.num})}" th:text="삭제하기"></a>
		      </span>
		<a href="/boardlist">글 목록</a>
	</body>
</html>